@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* body {
  font: normal 18px "Open Sans", sans-serif;
  background: #fafafa;
  color: #333;
} */

main {
  min-height: 100vh;
}

header {
  background: rgb(128, 191, 216);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.title {
  font: normal 4em "Assistant", sans-serif;
  text-align: center;
}

.menu {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* position: -webkit-sticky; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
}

.login {
  top: 1;
  right: 1;
  left: 1;
}

.menu a {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  /* position: relative; */
}

/* animmation */
.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #333;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
  transform: scaleX(1);
}
